# --- Environnement virtuel ---
venv/
env/
.venv/

# --- Données ---
Data/raw/*
Data/processed/*




# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
build/
dist/

# --- Fichiers système ---
.DS_Store
Thumbs.db

# --- Éditeurs / IDE ---
.vscode/
.idea/

# --- Variables d'environnement / secrets ---
.env